RewriteEngine on

RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} !^apibr\.com$ [NC]
RewriteRule ^ https://apibr.com%{REQUEST_URI} [L,R=301,NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]
