body {
  margin-top: 10px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

.stale {
  opacity: 0.5;
}

.stale:hover {
  opacity: 1;
}
