name: Build & Deploy via ftp
on:
  push:
    branches: [ main ]
  workflow_dispatch:

concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: 16.x

    - name: Install dependencies
      run: npm install

    - name: Build
      run: npm run build

    - name: Test
      run: npm test

    - name: Upload build
      uses: sebastianpopp/ftp-action@releases/v2
      with:
        host: ${{ secrets.FTP_SERVER }}
        user: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        localDir: "build/"
        remoteDir: "/public_html/ui/vagas/"
        options: "--delete"

  create_release:
    name: Create release
    needs: build
    runs-on: ubuntu-latest
    steps:
    
      - name: Create Release
        uses: ncipollo/release-action@v1.13.0
        with:
          allowUpdates: false
          draft: false
          makeLatest: true
          tag: v1.1.${{ github.run_number }}
          name: Release v1.1.${{ github.run_number }}
          generateReleaseNotes: true
          body: Release 1.1.${{ github.run_number }} of Vagas Aggregator UI
